{% extends "base.html" %}

  {% block content %}
  <main class="recipe-detail">
    <div>
        <a href="{% url 'edit_plan' mealplan.id %}">Edit</a>
        <a href="{% url 'delete_plan' mealplan.id %}">Delete</a> 
    </div>
   
    <h1>Recipes for {{ mealplan.name }}</h1>
    <h2>Date to be served: {{ mealplan.date }} </h2>
    {% for recipe in mealplan.recipes.all %}
    <p>
      <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </p>
    {% endfor %}
  </main>
{% endblock %}